.main-container {
  background: transparent;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.title {
  color: var(--black);
  font-size: 52px;
  font-weight: 600;

  margin: 10px 0px;
  text-align: center;
}
