main {
  padding-top: 80px;
}

.heading {
  color: var(--black);
  font-size: 52px;
  font-weight: 600;

  margin: 10px 0px;
  text-align: center;
}

.post-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.post {
  margin: 15px 15px;
}

.video-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.video {
  margin: 5px 5px;
}