.title {
  color: var(--black);
  font-size: 52px;
  font-weight: 600;

  margin: 10px 0px;
  text-align: center;
}

.project {
  padding: 0 20px 0;
  margin: 40px 0px;
}

.shadow {
  display: flex;
  flex-direction: row;

  box-shadow: 0px 3px 8px rgb(131, 131, 131);
}

.content {
  display: flex;
  flex-direction: column;
  width: 60%;

  padding: 5px 15px 5px;
}

.proj-title {
  color: var(--black);
  font-size: 28px;
  font-weight: 600;

  margin: 10px 0px 10px 0px;
  text-align: left;
}

.desc {
  color: var(--black);
  font-size: 18px;

  margin: 0px 0px 10px 0px;
  text-align: left;
}

.link {
  color: var(--black);
  text-decoration: underline;
}

.demo-button {
  background: var(--brown);
  color: white;
  font-family: Poppins;
  cursor: pointer;

  border: none;
  padding: 5px 15px;
}