main {
  padding-top: 80px;
}

.title {
  color: var(--black);
  font-size: 52px;
  font-weight: 600;

  margin: 10px 0px;
  text-align: center;
}

.projects {
  background: transparent;
  height: 100%;
  width: 70%;
  margin: auto auto;
  display: grid;
  grid-template-columns: auto auto;
}

.project {
  margin: 5px 5px 5px 5px;
  height: 350px;
  width: 493.6px;
}

.proj-info1 {
  height: inherit;
  width: inherit;
  background-color: var(--periwinkle);
  display: inline-block;
}

.proj-info2 {
  height: inherit;
  width: inherit;
  background-color: var(--light-blue);
  display: inline-block;
}

.proj-info3 {
  height: inherit;
  width: inherit;
  background-color: var(--purple);
  display: inline-block;
}

.proj-info4 {
  height: inherit;
  width: inherit;
  background-color: var(--pink);
  display: inline-block;
}

.proj-title {
  margin-top: 120px;
  margin-bottom: 10px;
  margin-left: 15px; 

  color: var(--white);
  font-size: 28px;
  font-weight: 600;
}

.proj-desc {
  margin-bottom: 10px;
  margin-left: 15px;

  color: var(--white);
  font-size: 20px;
}

.proj-link {
  margin-bottom: 10px;
  margin-left: 15px;

  color: var(--white);
  font-size: 16px;
  text-decoration: none;
}